@import "core/reset";

.body-container {
  max-width: 800px;
  width: 90%;
  margin: auto;
}

//HEADER//
.header {
  &-container {
    text-align: center;
    padding: 40px 0;
  }
  &-input {
    margin: 40px 0 20px 0;
    width: 70%;
    height: 40px;
    line-height: 40px;
    background: white;
    padding: 0 20px;
    border-radius: 100px;
    border: none;
    text-align: center;
    font-size: 16px;
  }
  &-categories {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &-links {
    color: #9b9b9b;
    margin: 10px 20px;
    font-weight: 700;
    &.active {
      color: black;
    }
  }
}

//MAIN//
.grid {
  position: relative;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s linear 1s;
  &-items {
    position: absolute;
    display: block;
    padding: 0;
    margin: 10px;
    width: calc(33.33% - 20px);
    &-content {
      position: relative;
    }
    &-images {
      background-size: contain;
      width: 100%;
      border-radius: 10px;
      cursor: pointer;
      vertical-align: top;
    }
  }
}
.image-loaded {
  opacity: 1;
}
