<footer class="footer-container">
  <div class="social-networks">
    <div class="icon-container">
      <div class="icon-element">
        <a href="https://www.linkedin.com/in/elenapayan/" target="_blank" class="linkedin">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
      <div class="icon-element">
        <a href="https://github.com/elenapayan" target="_blank" class="github">
          <i class="fab fa-github-square"></i>
        </a>
      </div>
    </div>
    <p class="footer-paragraph">Made by <span>Elena Payán</span>, visit my social networks!</p>
  </div>
</footer>