<main class="main-container">
  <section class="grid" id="grid">
    <div class="grid-items" data-categories="monuments" data-label="monuments cities 'big ben'" data-description="Big Ben">
      <div class="grid-items-content">
        <img class="grid-items-images" src="./assets/images/Big Ben_opt.jpg" alt="Big Ben">
      </div>
    </div>
    <div class="grid-items" data-categories="landscapes" data-label="landscapes nature canyon" data-description="Canyon">
      <div class="grid-items-content">
        <img class="grid-items-images" src="./assets/images/Canyon_opt.jpg" alt="Canyon">
      </div>
    </div>
    <div class="grid-items" data-categories="landscapes" data-label="landscapes nature cliff" data-description="Cliff">
      <div class="grid-items-content">
        <img class="grid-items-images" src="./assets/images/Cliff_opt.jpg" alt="Cliff">
      </div>
    </div>
    <div class="grid-items" data-categories="animals" data-label="animals nature elefant" data-description="Elefant">
      <div class="grid-items-content">
        <img class="grid-items-images" src="./assets/images/Elefant_opt.jpg" alt="Elefant">
      </div>
    </div>
    <div class="grid-items" data-categories="animals" data-label="animals nature flamingo" data-description="Flamingo">
      <div class="grid-items-content">
        <img class="grid-items-images" src="./assets/images/Flamingo_opt.jpg" alt="Flamingo">
      </div>
    </div>
    <div class="grid-items" data-categories="landscapes" data-label="landscapes nature lake" data-description="Lake">
      <div class="grid-items-content">
        <img class="grid-items-images" src="./assets/images/Lake_opt.jpg" alt="Lake">
      </div>
    </div>
    <div class="grid-items" data-categories="animals" data-label="animals nature monkey" data-description="Monkey">
      <div class="grid-items-content">
        <img class="grid-items-images" src="./assets/images/Monkey_opt.jpg" alt="Monkey">
      </div>
    </div>
    <div class="grid-items" data-categories="animals" data-label="animals nature parrot" data-description="Parrot">
      <div class="grid-items-content">
        <img class="grid-items-images" src="./assets/images/Parrot_opt.jpg" alt="Parrot">
      </div>
    </div>
    <div class="grid-items" data-categories="monuments" data-label="monuments cities sevilla" data-description="Sevilla">
      <div class="grid-items-content">
        <img class="grid-items-images" src="./assets/images/Sevilla_opt.jpg" alt="Sevilla">
      </div>
    </div>
    <div class="grid-items" data-categories="animals" data-label="animals nature squirrel" data-description="Squirrel">
      <div class="grid-items-content">
        <img class="grid-items-images" src="./assets/images/Squirrel_opt.jpg" alt="Squirrel">
      </div>
    </div>
    <div class="grid-items" data-categories="monuments" data-label="monuments cities tah-mahal" data-description="Tah-Mahal">
      <div class="grid-items-content">
        <img class="grid-items-images" src="./assets/images/Tah Mahal_opt.jpg" alt="Tah-Mahal">
      </div>
    </div>
    <div class="grid-items" data-categories="monuments" data-label="monuments cities 'tower eiffel'" data-description="Tower Eiffel">
      <div class="grid-items-content">
        <img class="grid-items-images" src="./assets/images/Torre Eiffel_opt.jpg" alt="Tower Eiffel">
      </div>
    </div>
  </section>
  <section class="overlay-container" id="overlay-container">
    <div class="overlay-images-container">
      <button id="btn-close"><i class="far fa-times-circle"></i></button>
      <img class="overlay-image" src="" alt="">
    </div>
    <p class="overlay-description"></p>
  </section>
</main>