<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Portfolio-Elena Payán</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/dda073099d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./assets/css/main.css">
</head>

<body>
  <div class="body-container">
    <partial src="_header.html" label="Header"></partial>
    <partial src="_main.html" label="Main"></partial>
    <partial src="_footer.html" label="Footer"></partial>
  </div>
  <script src="https://unpkg.com/web-animations-js@2.3.2/web-animations.min.js"></script>
  <script src="https://unpkg.com/muuri@0.8.0/dist/muuri.min.js"></script>
  <script src="./assets/js/main.js"></script>
</body>

</html>